<h1>{{title}}</h1>

{{#if conocido}}
    <p>Bienvenido {{nombre}}</p>
    <a href="/salir">Salir</a>
{{/if}}

{{#unless conocido}}
    <p>No te conozco, porfavor, logeate en el siguiente formulario</p>
    <form 
        action="/ingresar" method="post">
        <input type="text" name="nombre">
        <button>Ingresar</button>
    </form>
{{/unless}}