.contenedor{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    width: 500px; 
    height: 500px;
    border: 2px solid #000; 
}

.item{
    display: flex;
	width: 200px;
	height: 200px;
	font-size: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

.item1{
    background-color: red;
}

.item2{
    background-color: blue;
}

.item3{
    background-color: green;
}