<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/boton1">Boton 1</a></li>
        <li><a href="/boton2">Boton 2</a></li>
        <li><a href="/boton3">Boton 3</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
